<form>
	<div>
		<div class="jumbotron spa-header">
			<h1>Missing Copy Length</h1>
		</div>
		<div class="btn-container">
			<button type="button" class="btn btn-primary">Completed Records List</button>
			<button type="button" class="btn btn-primary">Reject Records List</button>	
		</div>
		<div>
			<table class="table table-bordered table-striped main-table-header">
		      <thead>
		        <tr>
		          <th><input type="checkbox" name=""></th>
		          <th>Copy Length Unit</th>
		          <th>Copy length time</th>
		          <th>Copy Length Bucket Value</th>
		          <th>Remarks</th>
		        </tr>
		      </thead>
		      <tbody>
		        
		        
		        <tr>
		          <td><input type="checkbox" name=""></td>
		          <td>20+TV</td>	          
		          <td><input type="text" name=""></td>	          
		          <td>
		          	<select>
		          		<option>one</option>
		          		<option>two</option>
		          	</select>
		          </td>	          
		        </tr>
		        <tr>
		          <td><input type="checkbox" name=""></td>
		          <td>2*2 Board</td>	          
		          <td><input type="text" name=""></td>
		          <td>
		          	<select>
		          		<option>one</option>
		          		<option>two</option>
		          	</select>
		          </td>
		        
		        </tr>
		      </tbody>
		    </table>
		</div>
		<div>
			<button type="button" class="btn btn-primary">Select All/Deselect All</button>		
			<button type="button" class="btn btn-primary">Edit</button>
			<button type="button" class="btn btn-primary">Reset</button>
			<button type="button" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

