<div>
	<div class="jumbotron spa-header">
		<h1>GA Master List Maintanace</h1>
	</div>
	<div class="btn-container">
		<button type="button" class="btn btn-primary">Completed List</button>
		<button type="button" class="btn btn-primary">Reject List</button>	
		<button type="button" class="btn btn-primary">Third List</button>	
	</div>
	<div>
		<table class="table table-bordered table-striped main-table-header">
	      <thead>
	        <tr>
	          <th>&nbsp;</th>
	          <th>One</th>
	          <th>Two</th>
	          <th>Third</th>
	          <th>Four</th>
	          <th>Five</th>
	          <th>Six</th>
	          <th>Seven</th>
	          <th>Eight</th>
	          <th>Nine</th>
	          <th>Ten</th>
	          <th>Remarks</th>
	        </tr>
	      </thead>
	      <tbody>
	        
	        
	        <tr>
	          <td><input type="checkbox" name=""></td>
	          <td>Jacob</td>
	          <td>Thornton</td>
	          <td>@fat</td>
	          <td>Jacob</td>
	          <td>Thornton</td>
	          <td>@fat</td>
	          <td><input type="text" name=""></td>
	          <td><input type="text" name=""></td>
	          <td>
	          	<select>
	          		<option>one</option>
	          		<option>two</option>
	          	</select>
	          </td>
	          <td>
	          	<select>
	          		<option>one</option>
	          		<option>two</option>
	          	</select>
	          </td>
	          <td><input type="text" name=""></td>	
	        </tr>
	        <tr>
	          <td><input type="checkbox" name=""></td>
	          <td>Jacob</td>
	          <td>Thornton</td>
	          <td>@fat</td>
	          <td>Jacob</td>
	          <td>Thornton</td>
	          <td>@fat</td>
	          <td><input type="text" name=""></td>
	          <td><input type="text" name=""></td>
	          <td>
	          	<select>
	          		<option>one</option>
	          		<option>two</option>
	          	</select>
	          </td>
	          <td>
	          	<select>
	          		<option>one</option>
	          		<option>two</option>
	          	</select>
	          </td>
	          <td><input type="text" name=""></td>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<div>
		<button type="button" class="btn btn-primary">Select All/Deselect All</button>
		<button type="button" class="btn btn-primary">Insert</button>
		<button type="button" class="btn btn-primary">Exit</button>
		<button type="button" class="btn btn-primary">Submit</button>
	</div>
</div>

